.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nft {
    position: relative;

    &:hover .mint-button {
      visibility: visible;
      opacity: 1;
    }

    .mint-button {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s ease-in-out;
      background-color: red;
    }
  }
}
